@import "./_reset";

$main-color: #a2f89c;
$main-color-light: #d7ffd4;
$font-color: #555;
$font-color-light: #ccc;
$font-color-sub: #555e8d;
$default-color: #fff;
$sideBar-width: 20em;
$sideBar-margin: 15em;
$header-size: 4em;
$main-width: 70vw;

@mixin shaded-area {
  background: linear-gradient(-45deg, $main-color 25%, white 25%, white 50%, $main-color 50%, $main-color 75%, white 75%, white);
  background-size: 4px 4px;
}

body {
  font-size: 14px;
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

@media (min-width: 320px) {
  body {
    font-size: calc(0.9375vw + 11px);
  }
}

@media (min-width: 960px) {
  body {
    font-size: 20px;
  }
}

.header {
  height: $header-size;
  padding: 1em;

  .header_logo {
    display: inline-block;
    text-align: left;
  }

  .header_social {
    display: inline-block;
    text-align: right;
  }
}

.top {
  position: relative;
  height: calc(100vh - #{$header-size});

  .top_background {
    @include shaded-area;

    position: absolute;
    top: 72vh;
    left: 0;
    width: 100%;
    z-index: -1;
    height: calc(28vh - #{$header-size} + 8em);
  }

  .top_goatass {
    position: relative;
    top: 0;
    width: $main-width;
    height: calc(100vh - #{$header-size});

    .top_goatass-background {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background-image: url("../img/background.svg");
      background-size: 100% 100%;
      background-position: right center;
      background-repeat: no-repeat;
      height: 100%;
    }

    .top_goatass-img {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 80%;
      padding: 4em 6em 4em 4em;
      height: 100%;

      svg {
        height: 100%;
        margin-left: auto;
        display: block;
      }
    }
  }

  .top_textArea {
    position: absolute;
    height: 100vh;
    width: calc(100vw - #{$main-width});
    top: 0;
    left: calc(#{$main-width} - 2em);

    * {
      color: $font-color-sub;
    }

    .title {
      font-weight: 600;
      margin-top: 25vh;
      width: 100%;

      .subTitle {
        font-size: 0.8em;
        margin-bottom: 0.2em;
      }

      .middleTitle {
        font-size: 1em;
        margin-bottom: 0.2em;
      }

      .mainTitle {
        content: "";
        background-image: url("../img/logo.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        padding-bottom: calc(100% * 75 / 375);
        color: transparent;
        margin: 0 1em 1em 0;
      }
    }

    .deadline {
      font-size: 0.9em;
      margin-bottom: 0.4em;
    }
  }

  .header-form {
    position: absolute;
    top: 55vh;
    left: 0;
    width: 100%;

    .labeledRow {
      .labeledRow-label {
        position: relative;

        .form-input {
          max-width: 12em;
          width: 100%;
          height: 2em;
          border: solid 2px $main-color;
          border-radius: 6px;
          padding: 6px;
        }

        .inlineLabel {
          position: absolute;
          top: 0;
          left: 0;
          padding: 6px;
        }

        &.externalLabel {
          .form-input {
            margin-top: 1.2em;
          }

          .inlineLabel {
            font-size: 0.9em;
          }
        }
      }

      .labeledRow-body {
        .form-button {
          background-color: #a2f89c;
          border: solid 2px white;
          border-radius: 6px;
          height: 2em;
          padding: 0 1em;
          max-width: 12em;
          width: 100%;
        }
      }
    }
  }
}

.goatassImg-dummyImg {
  background-image: url("../img/goatass.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: calc(100% * 300 / 233);
}

.main {
  text-align: center;

  .main_block {
    position: relative;
    background-color: $default-color;
    padding: 2em 0 1em 3em;
    max-width: 70em;
    min-height: 12em;

    &:nth-child(2n-1) {
      margin: 2em 0 1em 10vw;
      margin-left: auto;

      .main_block-background {
        right: 0;
      }
    }

    &:nth-child(2n) {
      margin: 2em 10vw 1em 0;
      margin-right: auto;

      .main_block-background {
        left: 0;
      }
    }

    &:last-child .main_block-background {
      height: calc(100% - 8em);
      top: 9em;
    }

    h2 {
      font-size: 1.8em;
      color: $font-color;
    }

    .description {
      color: $font-color-sub;
      padding: 1.6em 0.8em;
      font-size: 0.9em;
      max-width: 40em;
      line-height: 1.2;
    }

    .main_block-background {
      @include shaded-area;

      position: absolute;
      z-index: -1;
      width: 100vw;
      height: 100%;
      top: 9em;
    }
  }
}

