doctype html
html(lang="ja")
  head
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    //- TODO more descriptions
    meta(name="description" content="簡単3ステップ！Chat AIによる全自動顧客獲得のGoat@ss(ゴータス)")
    //- TODO social meta
    title
      | 簡単3ステップ！Chat AIによる全自動顧客獲得のGoat@ss(ゴータス)
  body
    header.header
      .header_logo(title="goat@ss")
      .header_social.
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_dd" href="https://www.addtoany.com/share?linkurl=https%3A%2F%2Fgoatass.info%2F&amp;linkname=Goat%40ss"></a>
        <a class="a2a_button_hatena"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        </div>
        <script>
        var a2a_config = a2a_config || {};
        a2a_config.linkname = "Goat@ss";
        a2a_config.linkurl = "https://goatass.info/";
        a2a_config.onclick = 1;
        a2a_config.locale = "ja";
        </script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->

    section.top
      .top_goatass
        .top_goatass-background
        .top_goatass-img#js-goatassImg
          .goatassImg-dummyImg
      .top_textArea
        h1.title
          .subTitle
            | 簡単3ステップ！
          .middleTitle
            | Chat AIが顧客を全自動で獲得
          .mainTitle
            | Goat@ss
        form.header-form
          .labeledRow
            .labeledRow-label.externalLabel
              input.form-input(type="email" required)
              .inlineLabel
                | メールアドレス
            .labeledRow-body
              input.form-button(type="submit" value="詳細情報を受け取る")
      .top_background
    main.main
      .main_block
        h2
          | まるで専属のカスタマーサポートがいるよう
        .description
          | Goat@ssは、あなたのサイトにライブチャットを追加します。 あとは、サイト訪問者に対してGoat@ssのAIが話しかけ、まるで専属のカスタマーサポートのように1人1人にあわせた会話で疑問を解決します。 訪問者があなたのサービスに興味を持ったら、そのままチャット上で登録をうながします。 チャット上で登録まで完了できるので、離脱を防げます。
        .main_block-background
      .main_block
        h2
          | 3ステップで、既存のフォームとも連携
        .description
          | 設置が大変？ そんなことはありません。 たった3ステップで、あなたのサイトに導入できます。 すでに登録フォームや管理システムがあっても、既存のシステムとの連携さえ、3ステップで完了してしまいます。
        .main_block-background
