doctype html
html(lang="ja")
  head
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    title
      | 簡単3ステップ！Chat AIによる全自動顧客獲得のGoat@ss(ゴータス)
  body
    h1.title
      | 簡単3ステップ！Chat AIによる全自動顧客獲得のGoat@ss(ゴータス)
    .header
      .goatassImg#js-goatassImg
        .goatassImg-dummyImg
      form.header-form
        .labeledRow
          .labeledRow-label
            input.form-input(type="email" required)
          .labeledRow-body
            input.form-input(type="submit" value="詳細情報を受け取る")
    .content
      | 2016年 冬 公開
